<%= form_for @team do |f| %>

  <div class="team-name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="team-description">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit class: "button" %>
<% end %>
