<div>
  <h1><%= @team.name %> <%= link_to "(@#{@team.owner.twitter_handle})", @team.owner.twitter_url %></h1>
  <p>
    <%= @team.description %>
  </p>
  <p>
    <%= link_to t("teams.posts"), team_posts_path(@team) %>
  </p>
  <h2><%= t("team.members") %></h2>
  <ul>

    <li>
      <%= link_to @team.owner.name, user_path(@team.owner) %>
      <%= t("teams.owner") %>
    </li>
    <% @team.users.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>

  <p>
    <% if is_member %>
      <%= button_to t("teams.leave_team"), leave_team_path(@team), class: "button" %>
    <% else %>
      <%= button_to t("teams.join_team"), join_team_path(@team), class: "button" %>
    <% end %>
</div>
