<h1><%= t("users.edit_profile") %></h1>

<%= image_tag @user.image_url %>

<%= form_for(@user) do |f| %>


  <%= f.label t("users.name") %>
  <%= f.text_field :name %>

  <%= f.submit t("actions.save"), class: "button" %>
<% end %>
