<div>
  <%= link_to t("posts.back_to_all_posts", team_name: @post.team.name), team_posts_path(current_team) %>
</div>
<h1><%= t("posts.edit") %></h1>
<hr>
<%= form_for @post, url: team_post_path do |f| %>
  <div class="tweet">
    <%= f.label t("posts.tweet") %>
    <%= f.text_area :tweet %>
  </div>

  <div class="planned-time">
    <%= f.label t("posts.planned_time") %>
    <%= f.datetime_select :planned_time %>
  </div>
  <%= f.submit class: "button" %>
<% end %>
