<div>
  <%= link_to t("teams.back_to_team", team_name: current_team.name), team_path(current_team) %>
  <h1><%= t("teams.posts_for") %> for <%= current_team.name %></h1>
  <% @posts.each do |post| %>
  <div>
    <%= link_to post.tweet, team_post_path(post.team, post) %>
  </div>
  <% end %>
  <p>
    <%= link_to t("posts.new_post"), new_team_post_path, class: "button" %>
  </p>
</div>

