<nav class="navigation" role="navigation">
  <section class="wrap">
      <%= link_to root_path do %>
        <%= image_tag "eggplant.png", class: "logo" %>
        <span class="logo-text">Eggplant</span>
      <% end %>
    <span class="user-menu pull-right">
      <% if current_user %>
        <%= link_to 'All posts', posts_path %> |
        <%= link_to 'Teams', teams_path %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.image_url, class: "avatar" %>
        <% end %>
        <%= link_to "Sign Out", signout_path, class: "button" %>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter", class: "button" %>
      <% end %>
    </span>
  </section>
</nav>
