<!DOCTYPE html>
<html>
<head>
  <title>Eggplant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render "navigation" %>
</header>
  <% flash.each do |key, value| %>
    <div class="flash-<%= key %>">
      <span><%= value %></span>
    </div>
  <% end %>
<div class="wrap container" role="main">
  <h2><%= link_to 'All posts', posts_path %></h2>
  <%= yield %>
</div>

</body>
</html>
